{% extends "layout.html" %}

{% block title %}Sensor: {{sensor.sensor_entity_description.name}}{% endblock %}
</head>

{% block content %}

  <h2>Sensor: {{sensor.sensor_entity_description.name}}</h2>

  <table>
    <tr>
      <th>External ID</th><td>{{sensor.sensor_entity_description.external_id}}</td>
    </tr>
    <tr>
      <th>Online</th><td>{{sensor._online}}</td>
    </tr>
    <tr>
      <th>Last Value Received</th><td>{{sensor.value_last_time_received_fmt()}}</td>
    </tr>
    <tr>
      <th>Heartbeat Value Received</th><td>{{sensor.heartbeat_last_time_received_fmt()}}</td>
    </tr>
  </table>

<p>&nbsp;</p>

  <table>
    <tr>
    <th>Channel</th><th>Sensed</th><th>Last Value</th>
    </tr>
    
  {% for channel in sensor.get_active_channels() %}
  <tr>
    <td>{{ channel.channel_description.name }}</td>
    <td>
      <a href="/space/{{ channel.sensed_entity_active_model.sensed_entity_description.external_id }}">
	{{ channel.sensed_entity_active_model.sensed_entity_description.name }}
      </a>
    </td>
    <td>{{ channel.current_value }} </td>
  </tr>
  {% endfor %}
  </table>

{% endblock %}
  
